*{
    margin: 0px;
    padding:0px;
    background-color: black;
    font-family:sans-serif;
}

.sidebar_menu{
    position: fixed;
    top: -2000px;
    /* left: -300px; */
    height:500px;
    width: 400px;
    background-color:transparent;

}
.sidebar{
    top: 100px; 
    left: 400px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 30px;
    font: size 600px;;
    color: white;
    font-weight:900px;
}
.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 60px;
}

.sidebar_menu .menu a {
    color: white;
    text-decoration: none;
    width: 100%;
    position: absolute;
   
   
}
.sidebar_menu .menu li{
    margin: 10px;
    padding: 10px 20px;
}
.sidebar_menu .social_media{
    color: white;
    opacity: 1;
    position: absolute;
    left: 25%;
    top: 70%;
}
.sidebar_menu .social_media i{
    padding: 8px;
    
}

#btn:hover{
    box-shadow: 0px 0px 4px rgba(255,255,255, 1);
}


